nav {
  background-color: white;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
}

nav div {
  font-size: 25px;
  display: inline;
  position: relative;
  float: left;
  left: 25%;
  display: block;
  padding: 20px;
  padding-right: 60px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: gray;
}

nav a:active {
  color: #FF9F63;
}
